:root {
    --blue: #4760bb;
    --padding: 10%;
    --light-blue: #3ea8f4;
}

* {
    font-family: Verdana, sans-serif;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    padding: 0;
    margin: 0;
}

.menu {
    display: flex;
    padding: 25px var(--padding);
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.menu .logo {
    flex-grow: 1;
}

.menu li {
    list-style-type: none;
}

.menu .item:hover {
    cursor: pointer;
    color: var(--blue);
}

.menu .item {
    padding: 10px 20px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 100;
    transition-duration: 0.3s;
}

.menu .item.active {
    color: var(--blue);
}

.slideshow-container {
    position: relative;
}

.slideshow-container .dots {
    text-align: center;
    position: absolute;
    bottom: 50px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.slideshow-container .slide {
    display: none;
}

.slideshow-container .arrows {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slideshow-container .prev {
    margin-left: -100px;
}

.slideshow-container .next {
    margin-right: -100px;
}

.slideshow-container:hover .prev {
    margin-left: 10px;
}

.slideshow-container:hover .next {
    margin-right: 10px;
}

.slideshow-container .prev,
.slideshow-container .next {
    --side: 50px;
    cursor: pointer;
    width: var(--side);
    height: var(--side);
    text-align: center;
    padding: 16px;
    background: #fff;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 3px;
    user-select: none;
    border-bottom: 2px solid lightgrey;
}

.slideshow-container .prev:hover, 
.slideshow-container .next:hover {
    background-color: lightgrey;
}

.slideshow-container .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: var(--padding);
    width: 100%;
    text-align: left;
}

.slideshow-container .text p {
    margin: 0;
    font-size: 16px;
    max-width: 570px;
}

.slideshow-container h1 {
    font-weight: 100;
    font-size: 40px;
    margin-top: 0;
}

.slideshow-container img {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}

.slideshow-container .dot {
    --size: 11px;
    cursor: pointer;
    height: var(--size);
    width: var(--size);
    margin: 0 3px;
    border: 2px solid #fff;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.slideshow-container .active, 
.slideshow-container .dot:hover {
    background-color: #fff;
}

.slideshow-container .fade {
    animation-name: fade;
    animation-duration: 2.5s;
}

.contact-us {
    background-color: var(--blue);
    color: #fff;
    padding: 0 var(--padding);
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.contact-us .socials {
    flex-grow: 1;
}

.contact-us .socials > * {
    margin-right: 20px;
}

.contact-us .item.painted {
    background: var(--light-blue);
    padding-left: 25px;
    padding-right: 25px;
}

.contact-us .item .grey {
    margin-right: 5xpx;
    opacity: 0.5;
}

.contact-us > * {
    display: block;
    padding: 18px;
}

.qualities {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    padding: 50px var(--padding);
}

.qualities .item {
    display: flex;
    padding: 50px 10px;
}

.qualities h1 {
    margin: 0;
    font-size: 20px;
    font-weight: 100;
}

.qualities p {
    font-size: 14px;
    line-height: 1.5;
}

.qualities .icon {
    --side: 60px;
    width: var(--side);
    height: var(--side);
    border: 1px solid lightgrey;
    padding: 5px;
    border-radius: 20px;
    margin-right: 20px;
}

.online {
    padding: 0 var(--padding);
    border-top: 1px solid lightgrey;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.online img {
    width: 100%;
}

.online p {
    font-size: 14px;
    line-height: 1.7;
    margin: 20px 0;
}

.online button {
    width: 200px;
    background: #fff;
    padding: 15px 10px;
    text-transform: capitalize;
    font-size: 14px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    color: var(--blue);
    transition-duration: 0.5s;
}

.online button:hover {
    background: var(--blue);
    color: #fff;
    border-color: var(--blue);
}

.online h1 {
    margin: 0;
    font-weight: 100;
}

.online .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.statements {
    height: 300px;
    background: var(--blue);
}

.companies {
    padding: 50px var(--padding);
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    justify-items: center;
}

.companies img {
    opacity: 0.4;
    transition-duration: 0.5s;
}

.companies img:hover {
    opacity: 1;
}

.studies {
    padding: 50px var(--padding);
    background: rgba(0,0,0,0.05);
    text-align: center;
}

.studies > h1 {
    font-weight: 100;
    margin: 0;
}

.studies > p {
    font-size: 14px;
    line-height: 1.6;
    padding: 20px var(--padding);
}

.studies .item {
    background: #fff;
}

.studies img {
    width: 100%;
}

.studies .items {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.studies .item h2 {
    font-weight: 100;
    margin: 0;
    padding: 20px;
    font-size: 17px;
    text-align: left;
}

footer .top {
    padding: 80px var(--padding);
    color: #fff;
    background: rgba(0,0,0,0.8);
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-gap: 80px;
}

footer .top img {
    width: 100%;
    height: auto;
}

footer .top .right p {
    font-size: 16px;
    line-height: 1.6;
    margin-top: 0;
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid #404040;
}

footer .top .right .info {
    font-size: 22px;
}

footer .top .right .phone {
    margin-right: 100px;
    position: relative;
    display: inline-block;
}

footer .top .right .hours {
    display: block;
    position: absolute;
    top: 35px;
    font-size: 12px;
    left: 40px;
    color: grey;
}

footer .top .right .info .icon {
    color: rgba(255,255,255,0.4);
    font-size: 30px;
    margin-right: 7px;
    position: relative;
    top: 2px;
}

footer .bottom {
    padding: 15px var(--padding);
    background: rgba(0,0,0,0.85);
}

footer .bottom ul {
    display: flex;
    flex-wrap: wrap;
    color: grey;
    font-size: 12px;
    justify-content: space-between;
    padding: 0;
}

footer .bottom .text {
    flex-grow: 1;
    font-weight: 600;
}

footer .bottom .text .link {
    color: var(--blue);
    cursor: pointer;
}

footer .bottom li {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer .bottom .item.active,
footer .bottom .item:hover {
    color: #fff;
    cursor: pointer;
}

footer .bottom .item {
    text-transform: capitalize;
    padding: 0 15px;
    transition-duration: 0.3s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@media (max-width: 800px) {
    :root {
        --padding: 3%;
    }
    
    .contact-us, 
    .slideshow-container {
        display: none;
    }
    
    footer .bottom .text {
        margin-bottom: 10px;
    }
    
    footer .bottom ul {
        justify-content: flex-start !important;
    }
    
    footer .bottom li {
        padding: 0 5px !important;
    }
    
    footer .top {
        padding: 50px var(--padding);
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }
    
    footer .top img {
        width: auto;
        margin-bottom: 10px;
    }
    
    footer .top .right .info span {
        display: block;
        margin-bottom: 40px;
        font-size: 14px;
    }
    
    footer .top .right .info .icon {
        font-size: 16px;
        margin-right: 7px;
        position: relative;
        top: 0;
    }
    
    footer .top .right .hours {
        top: 25px;
        font-size: 12px !important;
        left: 20px;
    }
    
    .studies > p {
        padding: 10px 0;
    }
    
    .online .text {
        padding: 30px 0;
    }
    
    .qualities .item {
        padding: 30px 10px;
    }
}